<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<reepay_payment>
				<active>0</active>
				<title>Credit card by Billwerk+</title>
				<instructions>Billwerk+ Pay</instructions>
				<private_key_test/>
				<private_key/>
				<api_key_type>0</api_key_type>
				<display_type>3</display_type>
				<auto_capture>0</auto_capture>
                <send_order_line>1</send_order_line>
                <surcharge_fee>0</surcharge_fee>
                <save_card_enable>0</save_card_enable>
                <save_card_type>0</save_card_type>
				<send_order_email_when_success>1</send_order_email_when_success>
				<order_status_before_payment>pending</order_status_before_payment>
				<order_status_after_payment>processing</order_status_after_payment>
				<auto_create_invoice>0</auto_create_invoice>
				<cancel_order_after_payment_cancel>0</cancel_order_after_payment_cancel>
				<allowspecific/>
				<specificcountry/>
				<allowwed_payment>card</allowwed_payment>
				<payment_icons></payment_icons>
				<use_custom_icon>0</use_custom_icon>
				<payment_link>payment_reepay_payment_payment_link</payment_link>
				<sort_order>0</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaypayment</model>
			</reepay_payment>
			<reepay_viabill>
				<active>0</active>
				<title>Viabill payment by Billwerk+</title>
				<instructions>Viabill payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayviabill</model>
			</reepay_viabill>
            <reepay_anyday>
				<active>0</active>
				<title>Anyday payment by Billwerk+</title>
				<instructions>Anyday payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayanyday</model>
			</reepay_anyday>
			<reepay_mobilepay>
				<active>0</active>
				<title>Mobilepay payment by Billwerk+</title>
				<instructions>Mobilepay payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaymobilepay</model>
			</reepay_mobilepay>
            <reepay_applepay>
				<active>0</active>
				<title>Apple Pay payment by Billwerk+</title>
				<instructions>Apple Pay payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayapplepay</model>
			</reepay_applepay>
            <reepay_paypal>
				<active>0</active>
				<title>Paypal payment by Billwerk+</title>
				<instructions>Paypal payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaypaypal</model>
			</reepay_paypal>
            <reepay_klarnapaynow>
				<active>0</active>
				<title>Klarna Pay Now payment by Billwerk+</title>
				<instructions>Klarna Pay Now payment</instructions>
                <show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayklarnapaynow</model>
			</reepay_klarnapaynow>
            <reepay_klarnapaylater>
				<active>0</active>
				<title>Klarna Pay Later payment by Billwerk+</title>
				<instructions>Klarna Pay Later payment</instructions>
                <show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayklarnapaylater</model>
			</reepay_klarnapaylater>
            <reepay_klarnasliceit>
                <active>0</active>
                <title>Klarna Slice It payment by Billwerk+</title>
                <instructions>Klarna Slice It payment</instructions>
                <show_icon>0</show_icon>
				<custom_icon></custom_icon>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
                <sort_order>2</sort_order>
                <model>Radarsofthouse\Reepay\Model\Reepayklarnasliceit</model>
            </reepay_klarnasliceit>
            <reepay_klarnadirectbanktransfer>
                <active>0</active>
                <title>Klarna Direct Bank Transfer payment by Billwerk+</title>
                <instructions>Klarna Direct Bank Transfer payment</instructions>
                <show_icon>0</show_icon>
				<custom_icon></custom_icon>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
                <sort_order>2</sort_order>
                <model>Radarsofthouse\Reepay\Model\Reepayklarnadirectbanktransfer</model>
            </reepay_klarnadirectbanktransfer>
            <reepay_klarnadirectdebit>
                <active>0</active>
                <title>Klarna Direct Debit payment by Billwerk+</title>
                <instructions>Klarna Direct Debit payment</instructions>
                <show_icon>0</show_icon>
				<custom_icon></custom_icon>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
                <sort_order>2</sort_order>
                <model>Radarsofthouse\Reepay\Model\Reepayklarnadirectdebit</model>
            </reepay_klarnadirectdebit>
            <reepay_swish>
				<active>0</active>
				<title>Swish payment by Billwerk+</title>
				<instructions>Swish payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayswish</model>
			</reepay_swish>
            <reepay_vipps>
                <active>0</active>
                <title>Vipps payment by Billwerk+</title>
                <instructions>Vipps payment</instructions>
                <show_icon>0</show_icon>
				<custom_icon></custom_icon>
                <allowspecific>0</allowspecific>
                <specificcountry>0</specificcountry>
                <sort_order>2</sort_order>
                <model>Radarsofthouse\Reepay\Model\Reepayvipps</model>
            </reepay_vipps>
            <reepay_forbrugsforeningen>
				<active>0</active>
				<title>Forbrugsforeningen payment by Billwerk+</title>
				<instructions>Forbrugsforeningen payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayforbrugsforeningen</model>
			</reepay_forbrugsforeningen>
            <reepay_googlepay>
				<active>0</active>
				<title>Googlepay payment by Billwerk+</title>
				<instructions>Googlepay payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaygooglepay</model>
			</reepay_googlepay>
            <reepay_ideal>
				<active>0</active>
				<title>iDEAL payment by Billwerk+</title>
				<instructions>iDEAL payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayideal</model>
			</reepay_ideal>
            <reepay_blik>
				<active>0</active>
				<title>BLIK One Click payment by Billwerk+</title>
				<instructions>BLIK One Click payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayblik</model>
			</reepay_blik>
            <reepay_p24>
				<active>0</active>
				<title>Przelewy24 (P24) payment by Billwerk+</title>
				<instructions>Przelewy24 (P24) payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayp24</model>
			</reepay_p24>
            <reepay_verkkopankki>
				<active>0</active>
				<title>Verkkopankki payment by Billwerk+</title>
				<instructions>Verkkopankki payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayverkkopankki</model>
			</reepay_verkkopankki>
            <reepay_giropay>
				<active>0</active>
				<title>giropay payment by Billwerk+</title>
				<instructions>giropay payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaygiropay</model>
			</reepay_giropay>
            <reepay_sepa>
				<active></active>
				<title>SEPA Direct Debit payment by Billwerk+</title>
				<instructions>SEPA Direct Debit payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaysepa</model>
			</reepay_sepa>
            <reepay_bancontact>
				<active></active>
				<title>Bancontact payment by Billwerk+</title>
				<instructions>Bancontact payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaybancontact</model>
			</reepay_bancontact>
            <reepay_santander>
				<active></active>
				<title>Santander payment by Billwerk+</title>
				<instructions>Santander payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaysantander</model>
			</reepay_santander>
            <reepay_eps>
				<active></active>
				<title>EPS payment by Billwerk+</title>
				<instructions>EPS payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayeps</model>
			</reepay_eps>
            <reepay_estoniabanks>
				<active></active>
				<title>Estonian Banks payment by Billwerk+</title>
				<instructions>Estonian Banks payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayestoniabanks</model>
			</reepay_estoniabanks>
            <reepay_latviabanks>
				<active></active>
				<title>Latvian Banks payment by Billwerk+</title>
				<instructions>Latvian Banks payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaylatviabanks</model>
			</reepay_latviabanks>
            <reepay_lithuaniabanks>
				<active></active>
				<title>Lithuanian Banks payment by Billwerk+</title>
				<instructions>Lithuanian Banks payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaylithuaniabanks</model>
			</reepay_lithuaniabanks>
            <reepay_mbway>
				<active></active>
				<title>MB Way payment by Billwerk+</title>
				<instructions>MB Way payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaymbway</model>
			</reepay_mbway>
            <reepay_multibanco>
				<active></active>
				<title>Multibanco payment by Billwerk+</title>
				<instructions>Multibanco payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaymultibanco</model>
			</reepay_multibanco>
            <reepay_mybank>
				<active></active>
				<title>mBank payment by Billwerk+</title>
				<instructions>mBank payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaymybank</model>
			</reepay_mybank>
            <reepay_payconiq>
				<active></active>
				<title>Payconiq payment by Billwerk+</title>
				<instructions>Payconiq payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaypayconiq</model>
			</reepay_payconiq>
            <reepay_paysafecard>
				<active></active>
				<title>Paysafecard payment by Billwerk+</title>
				<instructions>Paysafecard payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaypaysafecard</model>
			</reepay_paysafecard>
            <reepay_paysera>
				<active></active>
				<title>Paysera payment by Billwerk+</title>
				<instructions>Paysera payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaypaysera</model>
			</reepay_paysera>
            <reepay_postfinance>
				<active></active>
				<title>PostFinance payment by Billwerk+</title>
				<instructions>PostFinance payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaypostfinance</model>
			</reepay_postfinance>
            <reepay_satispay>
				<active></active>
				<title>Satisfy payment by Billwerk+</title>
				<instructions>Satisfy payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaysatispay</model>
			</reepay_satispay>
            <reepay_trustly>
				<active></active>
				<title>Trustly payment by Billwerk+</title>
				<instructions>Trustly payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaytrustly</model>
			</reepay_trustly>
            <reepay_wechatpay>
				<active></active>
				<title>WeChat Pay payment by Billwerk+</title>
				<instructions>WeChat Pay payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaywechatpay</model>
			</reepay_wechatpay>
            <reepay_banktransfer>
				<active></active>
				<title>Bank Transfer payment by Billwerk+</title>
				<instructions>Bank Transfer payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaybanktransfer</model>
			</reepay_banktransfer>
            <reepay_cash>
				<active></active>
				<title>Cash payment by Billwerk+</title>
				<instructions>Cash payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepaycash</model>
			</reepay_cash>
            <reepay_other>
				<active></active>
				<title>Other payment by Billwerk+</title>
				<instructions>Other payment</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayother</model>
			</reepay_other>
			<reepay_vippsepayment>
				<active>0</active>
				<title>Vipps Mobilepay payment by Billwerk+</title>
				<title_dkk_eur>Mobilepay payment by Billwerk+</title_dkk_eur>
				<title_nok>Vipps payment by Billwerk+</title_nok>
				<instructions>Mobilepay</instructions>
				<show_icon>0</show_icon>
				<custom_icon></custom_icon>
				<allowspecific>0</allowspecific>
				<specificcountry>0</specificcountry>
				<sort_order>2</sort_order>
				<model>Radarsofthouse\Reepay\Model\Reepayvippsepayment</model>
			</reepay_vippsepayment>
		</payment>
	</default>
</config>
