<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Radarsofthouse\Reepay\Api\StatusRepositoryInterface" type="Radarsofthouse\Reepay\Model\StatusRepository"/>
	<preference for="Radarsofthouse\Reepay\Api\Data\StatusInterface" type="Radarsofthouse\Reepay\Model\Data\Status"/>
	<preference for="Radarsofthouse\Reepay\Api\Data\StatusSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Magento\Payment\Block\Info" type="Radarsofthouse\Reepay\Block\Info"/>
    <type name="Magento\Sales\Model\Order\CreditmemoFactory">
        <plugin disabled="false" name="Radarsofthouse_Reepay_Plugin_Magento_Sales_Model_Order_CreditmemoFactory" sortOrder="10" type="Radarsofthouse\Reepay\Plugin\Magento\Sales\Model\Order\CreditmemoFactory"/>
    </type>
	<type name="Radarsofthouse\Reepay\Logger\DebugHandler">
		<arguments>
			<argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>
	<type name="Radarsofthouse\Reepay\Logger\Debug">
		<arguments>
			<argument name="name" xsi:type="string">Debug</argument>
			<argument name="handlers" xsi:type="array">
				<item name="system" xsi:type="object">Radarsofthouse\Reepay\Logger\DebugHandler</item>
			</argument>
		</arguments>
	</type>
	<type name="Radarsofthouse\Reepay\Logger\InfoHandler">
		<arguments>
			<argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>
	<type name="Radarsofthouse\Reepay\Logger\Info">
		<arguments>
			<argument name="name" xsi:type="string">Info</argument>
			<argument name="handlers" xsi:type="array">
				<item name="system" xsi:type="object">Radarsofthouse\Reepay\Logger\InfoHandler</item>
			</argument>
		</arguments>
	</type>
	<type name="Radarsofthouse\Reepay\Logger\ErrorHandler">
		<arguments>
			<argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>
	<type name="Radarsofthouse\Reepay\Logger\Error">
		<arguments>
			<argument name="name" xsi:type="string">Error</argument>
			<argument name="handlers" xsi:type="array">
				<item name="system" xsi:type="object">Radarsofthouse\Reepay\Logger\ErrorHandler</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="Radarsofthouse_Reepay_Plugin_Block_Widget_Button_ToolbarPlugin" type="Radarsofthouse\Reepay\Plugin\Block\Widget\Button\ToolbarPlugin" />
    </type>
    <preference for="Radarsofthouse\Reepay\Api\CustomerRepositoryInterface" type="Radarsofthouse\Reepay\Model\CustomerRepository"/>
    <preference for="Radarsofthouse\Reepay\Api\Data\CustomerInterface" type="Radarsofthouse\Reepay\Model\Data\Customer"/>
    <preference for="Radarsofthouse\Reepay\Api\Data\CustomerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
