.reepay-standard-redirect .column.main{
    max-width: 100%;
}
.reepay-standard-redirect .nav-sections{
    margin: 0;
}
.reepay-standard-redirect .page-title-wrapper{
    text-align: center;
    margin-top: 60px;
}
.reepay-payment-layout{
    width: 560px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.reepay-payment-layout .logo-wrapper{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
}
.reepay-payment-layout .logo-wrapper .logo{
    float: none;
    display: inline-block;
    margin: 0;
}
.reepay-payment-layout .order-info{
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.reepay-payment-layout #rp_container{
    width: 500px;
    height: 730px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.reepay-payment-layout #rp_container iframe{
    max-width: 100%;
}
.reepay-payment-layout .reepay-embedded{
    max-width: 100%;
    display: block;
}
.reepay-payment-method .reepay-payment-instructions{
    margin-bottom: 10px;
}
.reepay-payment-method img.reepay-payment-icon{
    height: 20px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.reepay-overlay .pay-btn{
    width: 150px;
    background: #337ab7;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.reepay-overlay .pay-btn:hover{
    cursor: pointer;
}
.select-credit-card{
    width: 100%;
    max-width: 380px;
}
.credit-card-container{
    position: relative;
}
.credit-card {
    display: block;
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid #dd636b;
    padding: 15px;
    padding-left: 50px;
    border-radius: 4px;
}
.credit-card-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.credit-card-container .checkmark {
    position: absolute;
    top: 16px;
    left: 15px;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 50%;
}
.credit-card-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.credit-card-container input:checked ~ .checkmark {
    background-color: #14a16f;
}
.credit-card-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.credit-card-container input:checked ~ .checkmark:after {
    display: block;
}
.credit-card-container .checkmark:after {
    top: 6px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}
.credit-card-container .remove-credit-card-btn{
    position: absolute;
    background-image: url(../img/remove-icon.svg);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    right: 15px;
    top: 17px;
}
.credit-card-container .remove-credit-card-btn:hover{
    cursor: pointer;
}